<strong>Name</strong> <label style="font-weight: normal;"><%= user.name %></label> <br/>
<strong>URL</strong> <%= link_to user_path(user), user %> <br/>
<strong>Microposts</strong> <label style="font-weight: normal;"><%= user.microposts.count %></label>